
@media only screen and (max-width: 1140px) {
    .container {
        padding: 0 15px;
    }
}

@media only screen and (max-width: 992px) {
    .user {
        margin-right: 40px;
    }
    section.content {
        max-width: 820px;
    }

    div.info {
        margin-right: 10px;
    }
    div.info:first-of-type {
        margin-right: 60px;
    }
    footer section.second-bg {
        padding: 14px 15px 12px;
    }
}

@media only screen and (max-width: 820px) {
    .user {
        float: none;
        display: block;
        width: 247px;
        margin: auto;
    }

    .user:last-of-type {
        float: none;
        display: block;
        width: 247px;
        margin: 0 auto 34px;
    }

    div.info, div.info:first-of-type, div.info:last-of-type {
        float: none;
        display: block;
        margin: auto;
        padding-bottom: 30px;
    }
}

@media only screen and (max-width: 670px) {
    header nav ul li {
        display: block;
        margin-left: 30px;
        padding: 10px;
        text-align: right;
    }
    header nav ul li a {
        padding: 0 10px 10px;
    }
    .logo {
        margin-top: 70px;
    }

}