@font-face {
    font-family: 'opensans';
    src: url('fonts/opensans.eot');
    src: url('fonts/opensans.eot') format('embedded-opentype'),
    url('fonts/opensans.woff2') format('woff2'),
    url('fonts/opensans.woff') format('woff'),
    url('fonts/opensans.ttf') format('truetype'),
    url('fonts/opensans.svg#opensans') format('svg');
}

@font-face {
    font-family: 'raleway';
    src: url('fonts/raleway.eot');
    src: url('fonts/raleway.eot') format('embedded-opentype'),
    url('fonts/raleway.woff2') format('woff2'),
    url('fonts/raleway.woff') format('woff'),
    url('fonts/raleway.ttf') format('truetype'),
    url('fonts/raleway.svg#raleway') format('svg');
}


* {
    margin: 0;
    font-family: 'opensans', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    background-color: #24282f;
    padding: 30px 0 27px;
}

.container {
    max-width: 1095px;
    margin: auto;
}

.container:after {
    content: '';
    display: block;
    clear: both;
}

.logo {
    float: left;
}

header nav {
    float: right;

}

header nav ul {
    list-style: none;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    color: white;
}

header nav ul li {
    display: inline-block;
    margin-left: 30px;
}

header nav ul li a {
    padding: 0 10px 33px;
    border-bottom: 2px solid transparent;
    transition: 0.3s;
}

header nav ul li a:hover {
    border-bottom: 2px solid #b5a263;
}

section.banner {
    background: url("../images/bg.png") no-repeat #24282f;
    color: white;
    padding: 70px 0 85px;
}

h1 {
    text-transform: uppercase;
    font-size: 31px;
    font-weight: bold;
    margin-bottom: 17px;
}

p {
    font-size: 11px;
    max-width: 625px;
    line-height: 17px;
}

section.content {
    max-width: 900px;
    padding: 120px 0 35px;
    margin: auto;
}

h2 /*Raleway SemiBold Font*/ {
    font-family: 'raleway', sans-serif;
    text-transform: uppercase;
    font-size: 19px;
    color: #24282f;
    text-align: center;
    margin-bottom: 30px;
}

h2:after {
    content: '';
    display: block;
    margin: 25px auto 30px;
    width: 62px;
    height: 2px;
    background-color: #b5a263;
}

.user {
    float: left;
    margin-right: 80px;
    margin-bottom: 34px;
}

.user:last-of-type {
    margin-right: 0;
}

.user::after {
    content: '';
    display: inline-block;
    clear: both;
}

section.content::after {
    content: '';
    display: block;
    clear: both;
}

.user-name {
    font-family: 'raleway', sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #232323;
    line-height: 13px;
    margin-top: 25px;
    text-transform: uppercase;
}

span.user-vacancy {
    display: inline-block;
    font-size: 11px;
    color: #b5a263;
}

a.icon {
    position: relative;
    top: -32px;
    display: inline-block;
    float: right;
    background-color: #dedede;
    color: white;
    font-size: 15px;
    text-align: center;
    width: 28px;
    height: 28px;
    border-radius: 20px;
    margin-right: 5px;
    padding-top: 3px;
    box-sizing: border-box;
}

section.show-all-link {
    width: 100%;
    text-align: center;
}

a.show-all-link {
    text-transform: uppercase;
    font-size: 13px;
    color: #24282f;
    padding: 14px 30px;
    border: #24282f solid 1px;
    border-radius: 25px;
}