@font-face {
    font-family: 'opensans';
    src: url('fonts/opensans.eot');
    src: url('fonts/opensans.eot') format('embedded-opentype'),
    url('fonts/opensans.woff2') format('woff2'),
    url('fonts/opensans.woff') format('woff'),
    url('fonts/opensans.ttf') format('truetype'),
    url('fonts/opensans.svg#opensans') format('svg');
}

@font-face {
    font-family: 'raleway';
    src: url('fonts/raleway.eot');
    src: url('fonts/raleway.eot') format('embedded-opentype'),
    url('fonts/raleway.woff2') format('woff2'),
    url('fonts/raleway.woff') format('woff'),
    url('fonts/raleway.ttf') format('truetype'),
    url('fonts/raleway.svg#raleway') format('svg');
}


* {
    margin: 0;
    font-family: 'opensans', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    background-color: #24282f;
    padding: 30px 0 27px;
}

.container {
    max-width: 1095px;
    margin: auto;
}

.container:after {
    content: '';
    display: block;
    clear: both;
}

.logo {
    float: left;
}

header nav {
    float: right;

}

header nav ul {
    list-style: none;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    color: white;
}

header nav ul li {
    display: inline-block;
    margin-left: 30px;
}

header nav ul li a {
    padding: 0 10px 33px;
    border-bottom: 2px solid transparent;
    transition: 0.3s;
}

header nav ul li a:hover {
    border-bottom: 2px solid #b5a263;
}

section.banner {
    background: url("../images/bg.png") no-repeat #24282f;
    color: white;
    padding: 70px 0 85px;
}

h1 {
    text-transform: uppercase;
    font-size: 31px;
    font-weight: bold;
    margin-bottom: 17px;
}

p {
    font-size: 11px;
    max-width: 625px;
    line-height: 17px;
}

section.content {
    max-width: 900px;
    padding: 120px 0 35px;
    margin: auto;
}

h2 /*Raleway SemiBold Font*/ {
    font-family: 'raleway', sans-serif;
    text-transform: uppercase;
    font-size: 19px;
    color: #24282f;
    text-align: center;
    margin-bottom: 30px;
}

h2:after {
    content: '';
    display: block;
    margin: 25px auto 30px;
    width: 62px;
    height: 2px;
    background-color: #b5a263;
}

.user {
    float: left;
    margin-right: 80px;
    margin-bottom: 34px;
}

.user:last-of-type {
    margin-right: 0;
}

.user::after {
    content: '';
    display: inline-block;
    clear: both;
}

section.content::after {
    content: '';
    display: block;
    clear: both;
}

.user-name {
    font-family: 'raleway', sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #232323;
    line-height: 13px;
    margin-top: 25px;
    text-transform: uppercase;
}

span.user-vacancy {
    display: inline-block;
    font-size: 11px;
    color: #b5a263;
}

a.icon {
    position: relative;
    top: -32px;
    display: inline-block;
    float: right;
    background-color: #dedede;
    color: white;
    font-size: 15px;
    text-align: center;
    width: 28px;
    height: 28px;
    border-radius: 20px;
    margin-right: 5px;
    padding-top: 3px;
    box-sizing: border-box;
}

a.icon i {
    transition: 0.7s;
}

a.icon i:hover {
    transform: rotate(360deg);
}

section.show-all-link {
    width: 100%;
    text-align: center;
}

a.show-all-link {
    text-transform: uppercase;
    font-size: 13px;
    color: #24282f;
    padding: 14px 30px;
    border: #24282f solid 1px;
    border-radius: 25px;
}



footer section.first-bg {
    background-color: #2b2f35;
    border-top: #8b8d90 solid 1px;
}

footer section.first-bg section.content {
    padding: 60px 0 0 0;
}

div.info {
    float: left;
    width: 235px;
    display: inline-block;
    margin-right: 50px;
    margin-bottom: 34px;
}


div.info:last-of-type {
    margin-right: 0;
}

div.info:first-of-type {
    margin-right: 135px;
}

section.carousel {
    padding: 95px 0 85px;
    background-color: #f7f7f7;
}


h4, label {
    font-weight: bold;
    font-size: 11px;
    color: #b5a263;
    text-transform: uppercase;
    margin-bottom: 20px;
}

footer p {
    font-size: 11px;
    color: #6e7279;
    max-width: 235px;
}

form {
    margin-top: -7px;
}

form input {
    width: 235px;
    padding: 10px;
    background-color: transparent;
    color: #6e7279;
    font-size: 11px;
    border: solid 1px #6e7279;
    margin-top: 20px;
    margin-bottom: 10px;
    outline: none;
}

footer form button, footer a.popup-link-1 {
    display: inline-block;
    box-sizing: border-box;
    width: 257px;
    padding: 10px;
    font-size: 11px;
    color: #ffffff;
    text-align: center;
    background-color: #b5a263;
    box-shadow: none;
    border: none;
    text-transform: uppercase;
    margin-bottom: 10px;
}

footer section.second-bg {
    background-color: #24282f;
    border-top: #42464c solid 1px;
    padding: 14px 0 12px;
}

footer section.second-bg section.content {
    padding: 0;
}

footer section.second-bg p {
    margin-top: 5px;
    float: left;
    font-size: 10px;
}

footer section.second-bg a i {
    float: right;
    font-size: 13px;
    width: 28px;
    height: 28px;
    color: #6e7279;
    border-radius: 20px;
    border: 1px solid #6e7279;
    margin-left: 10px;
    padding: 7px;
    box-sizing: border-box;
    text-align: center;
    transition: 0.7s;
}

footer section.second-bg a i:hover {
    transform: rotate(360deg);
}

footer section.second-bg a i.fa-dribbble {
    padding: 8px;
    background-color: #b5a263;
    color: white;
    border: none;
}

.clear {
    content: '';
    display: block;
    clear: both;
}



/* POP-UP */


.popup-box {
    position: absolute;
    border-radius: 5px;
    background: #fff;
    display: none;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
    z-index: 3;
}

.popup-box .close {
    position: absolute;
    top: 1px;
    right: 0;
    font-family: 'raleway', sans-serif;
    font-weight: bold;
    cursor: pointer;
    color: #434343;
    padding: 20px;
    font-size: 20px;
    transition: 0.3s;
}

.popup-box .close:hover {
    color: #FFFFFF;
    font-size: 24px;
}

.popup-box h5 {
    padding: 0;
    margin: 0;

    font-family: 'raleway', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: normal;
    color: #FFFFFF;
}
.popup-box .top {
    padding: 40px 0 40px 50px;
    background-color: black;
}

.popup-box .bottom {
    background: #fbfbfb;
    border-top: 1px solid #e5e5e5;
    padding: 20px 50px 50px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.bottom form input, .bottom form button, .bottom form a {
    width: 300px;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 3px;
}

.bottom form button {
    font-size: 12px;
}

.bottom form span {
    font-family: 'raleway', sans-serif;
    display: block;
    text-align: center;
    position: relative;

    font-weight: bold;
    font-size: 13px;
    margin-bottom: 10px;
}

.bottom form a {
    background-color: #547aca;
    padding: 10px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
}

.bottom form a i {
    margin-right: 5px;
}

#blackout {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    z-index: 2;
    left: 0;
    display: none;
}


div.overlay {
    display: none;
}

